.container-1440{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 80px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.space-between{
    justify-content: space-between;
}
.space-arround{
    justify-content: space-around;
}
.item-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.gap-40{
    gap: 40px;
}
.width100{
    width: 100%;
}
.color-text{
background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
}
h2{
    font-size: 36px;
    color: $white;
}
h3{
    font-size: 24px;
    color: $white;
}
p{
    font-size: 16px;
    color:$white;
}
.bold{
    font-weight: 700;
}
a{
    color:$white;
    font-size: 16px;
}
